/* All CSS styles will be organized by alphabetical order and type.

For differentiation purposes, classes and IDs made by me are named using camelCase, while 
bootstrap classes use the kebab-case convention. 
Additionally, self-made classes and IDs will have priority over bootstrap classes when it 
comes to being modified. In the same way, IDs will have priority over classes*/


/* TAGS / TAGS / TAGS / TAGS / TAGS / TAGS / TAGS / TAGS / TAGS */
body { 
    min-height: 100vh;
    min-height: 100dvh;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(16, 15, 26);
    display: grid;
    grid-template-columns: auto 1fr;
}

i {
    font-size: 18px;
}

/* SELF-MADE CLASSES / SELF-MADE CLASSES / SELF-MADE CLASSES */
/* GENERAL */
.flipped {
    transform: scaleX(-1);
}

/* SIDEBAR */

.collapsed hr{
    width: 25px;
    transition: 200ms;
}
.extended hr {
    width: 100%;
    transition: 200ms;
}

.collapsed .navButton{
    opacity: 0.7;
    transition: 200ms;
}
.collapsed .navButton:hover{
    opacity: 1;
    
}

.extended .navButton{
    opacity: 0.8;
    transition: 200ms;
}
.extended .navButton:hover{
    opacity: 1;
    background-color: #0000003F;
    border-radius: 5px;
}

.navButton{
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 0.75em;
}

.navFooter{
    position: absolute;
    width: 184px;
    bottom: 10px;
}

.navFooter a {
    opacity: 0.7;
    transition: 200ms;
}
.navFooter a:hover {
    opacity: 100%;
}

.navHeader {
    height: 30px;
}

.navHeader li{
    display: flex;
    justify-content: flex-end;
}


/* SELF-MADE IDS / SELF-MADE IDS / SELF-MADE IDS */
/* SIDEBAR */
#sidebar {
    box-sizing: border-box;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    position: sticky;
    text-wrap: nowrap;
    transition: 200ms;
}

#sidebar.collapsed {
    width: 42px
}

#sidebar.extended {
    width: 200px;
}

.btn#navToggleButton {
    margin-left: auto;
    color: aliceblue;
    border-color: transparent;
}

.collapsed #navToggleButton {
    position: absolute;
    left: 5px;
}


/* BOOTSTRAP CLASSES / BOOTSTRAP CLASSES / BOOTSTRAP CLASSES*/
/* SIDEBAR */
