<script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}" defer></script>
<div class="p-2 bg-dark extended" id="sidebar">
    <div class="navBody">
        <ul class="nav nav-pills flex-column" id="rpg-sidebar">
            <div class="navHeader">
                <li>
                    <span><a class="text-decoration-none fs-4 text-white" href="/" id="navLogo" >DDM</a></span>
                    <button class="navButton btn color-white flipped" id="navToggleButton" onclick=toggleSidebar()><i class="bi bi-chevron-double-right"></i></button>
                </li>
            </div>
            
            <hr>
            <div class="navBody">
                <li>
                    <a class=" text-white text-decoration-none navButton" href="/rpg">
                        <i class="bi bi-music-note-list"></i>Songs
                    </a>
                </li>
                <li>
                    <a class="navButton text-white text-decoration-none" href="/rpg">
                        <i class="bi bi-music-note-list"></i>TODO
                    </a>
                </li>
                <li>
                    <a class="navButton text-white text-decoration-none" href="/rpg">
                        <i class="bi bi-music-note-list"></i>TODO
                    </a>
                </li>
            </div>
            
            <div class="navFooter">
                <hr>
                <li>
                    <a class="navButton text-white text-decoration-none" href="/RPG">
                        <i class="bi bi-dice-4-fill"></i></i>Manage RPG
                    </a>
                </li>
            </div>
            
        </ul>
    </div>
</div>