{% extends "layout.html" %}

{% block head %} 
    <title> Discord Dungeon Manager </title>
    <link href="{{url_for('static', filename='css/index.css')}}" rel="stylesheet">
{% endblock %}

{% block body %} 
    <div id="mainContainer">
        <div id="wrapper">
            <h1 id="pageTitle">Discord Dungeon Manager</h1>

            <div id="centerButton">
                <a href="discord"> <button class="btn btn-lg btn-outline-primary mb-2">Manage Discord</button> </a>
                <a href="rpg"> <button class="btn btn-lg btn-outline-primary" action="/test">Manage RPG</button> </a>
            </div>
        </div>
    </div>
    
{% endblock %}