<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" id="sidebar">
    <div class="navHeader">
        <a class="text-decoration-none fitContent" href="/"><span class="fs-4 text-white">DDM</span></a>
    </div>
    <hr>

    <div class="navBody mb-auto">
        <ul class="nav nav-pills flex-column" id="rpg-sidebar">
            <li id="navSongs">
                <div class="navButton">
                    <a class="nav-link text-white" href="/rpg">
                        <i class="bi bi-music-note-list"></i> Songs
                    </a>
                </div>
            </li>
            <li id="navTODO">
                <div class="navButton">
                    <a class="nav-link text-white" href="/#">
                        <i class="TODO"></i> TODO
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <hr>

    <div class="navFooter">
        <a class="nav-link text-white" href="/discord" id="navDiscord"><i class="bi bi-discord"></i> Manage Discord</a>
    </div>
</div>